doctype html
html
  head
    style
      include login.css
  body
    .container
      div
        h1 Login
        form(action="/login", method="POST")
          div
            label(for="username") Username:
            input(type="text", id="username", name="username", value="")
          div
            label(for="password") Password:
            input(type="password", id="password", name="password", value="")
          .item-button
            button(type="submit") Login
            a(href="/register") Register
          div
            a(href="#") Forgot password
      
    script
      include login.js
